{% extends '_base.html' %}


{% block title %}Animals{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
{% for animal in animal_list %}
<div class="col-md-4 mb-4">
    <div class="card">
    <img class="card-img-top img-fluid" src="{{ animal.animalimage.url }}" alt="{{ animal.title }}">
    <div class="card-body">
<h5>name: {{ animal.title }}</h5>
<p> breed:  {{animal.breed}} </p>
<p><a href="{{ animal.get_absolute_url }}">View more</a></p>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}
