{% extends '_base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}


{% block content %}
<h1>About Us</h1>
<table>
    <tr>
        <th>ANIMAL ADOPTION 
            The Animal Adoption Shelter provides spay and veterinary health services for stray
            or community animals,adoption programs as well as responsible pet ownership in Narobi

            Our goal is to create a small and healthier street and community animal population in Nairobi 
        </th>
        <th><img class="aboutPageImage" height="300px" width="300px" src="{% static 'images/david-lezcano-m-Doa-GTrUw-unsplash.jpg'   %}">
        </th>
    </tr>
</table>
{% endblock content %}
